* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: radial-gradient(rgb(252, 29, 140), rgba(21, 23, 345));
    color: #333;
}

header {
    background: radial-gradient(#007BFF), rgba(red, green, blue, alpha);
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

img {
    display: flex;
    align-items: flex-start;
}

.features, .download {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.features h2, .download h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #28A745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #218838;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}